@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Some cool tricks from shadcn lib */
@theme inline {
  --color-background: var(--bg-primary);
  --color-strong: var(--bg-strong);
  --color-inverted: var(--bg-inverted);

  --color-accent: var(--accent);
  --color-accent-background: var(--accent-background);

  --color-button-hover: var(--button-hover);
  --color-button-active: var(--button-active);

  --color-sidebar-background: var(--bg-elevated-secondary);
  --color-sidebar-border: var(--border-default); /*Sidebar border*/

  --color-sidebar-hovered: var(--menu-item-highlighted);
  --color-sidebar-selected: var(--menu-item-active);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-surface-primary: var(--surface-primary);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);

  --color-success: var(--success);
  --color-success-background: var(--success-background);
  --color-info: var(--info);
  --color-info-background: var(--info-background);
  --color-careful: var(--careful);
  --color-careful-background: var(--careful-background);
}

[data-theme="light"] {
  --accent: var(--color-teal-400);
  --accent-background: var(--color-teal-600);
  --bg-primary: #fcfcfc;
  --bg-strong: #ffffff;
  --bg-inverted: #212121;

  --button-hover: rgba(0, 0, 0, 0.1);
  --button-active: rgba(0, 0, 0, 0.2);

  --bg-elevated-secondary: #f9f9f9; /*Sidebar background*/
  --menu-item-highlighted: #0000000a; /*Sidebat hover */
  --menu-item-active: #0000000f; /*Sidebar selected */

  --border-default: #0d0d0d1a; /*Sidebar border*/
  --text-primary: var(--color-neutral-950);
  --text-secondary: var(--color-neutral-500);

  --surface-primary: #f9f9f9;
  --warning: #af1d27;
  --destructive: #fce9ea;

  --success: var(--color-green-600);
  --success-background: var(--color-green-200);
  --info: var(--color-blue-600);
  --info-background: var(--color-blue-200);
  --careful: var(--color-yellow-600);
  --careful-background: var(--color-yellow-200);
}

[data-theme="dark"] {
  --accent: var(--color-teal-500);
  --accent-background: var(--color-teal-800);
  --bg-primary: #181818;
  --bg-strong: #050505;
  --bg-inverted: #fff;

  --button-hover: rgba(255, 255, 255, 0.1);
  --button-active: rgba(255, 255, 255, 0.2);

  --bg-elevated-secondary: #212121;
  --menu-item-highlighted: #ffffff1a; /*Sidebat hover */
  --menu-item-active: #ffffff0d; /*Sidebar selected */

  --border-default: #ffffff26;
  --text-primary: #fff;
  --text-secondary: var(--color-neutral-500);

  --surface-primary: #202020;
  --warning: #f4b3b7;
  --destructive: #390508;

  --success: var(--color-green-200);
  --success-background: var(--color-green-600);
  --info: var(--color-blue-200);
  --info-background: var(--color-blue-600);
  --careful: var(--color-yellow-200);
  --careful-background: var(--color-yellow-600);
}

html,
body,
#root {
  height: 100%;
}

@layer base {
  html {
    background-color: var(--bg-primary);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@layer utilities {
  .disabled {
    opacity: 0.5;
  }
}
